/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --hover-color: #ff007066;

  --bg-image: url(../images/cover-image-dark.png);
}
